<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>appoficial</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ReparoController</display-name>
    <servlet-name>ReparoController</servlet-name>
    <servlet-class>br.com.webapp.controller.ReparoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReparoController</servlet-name>
    <url-pattern>/ReparoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReparoHistoricoController</display-name>
    <servlet-name>ReparoHistoricoController</servlet-name>
    <servlet-class>br.com.webapp.controller.ReparoHistoricoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReparoHistoricoController</servlet-name>
    <url-pattern>/ReparoHistoricoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReparoDeleteController</display-name>
    <servlet-name>ReparoDeleteController</servlet-name>
    <servlet-class>br.com.webapp.controller.ReparoDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReparoDeleteController</servlet-name>
    <url-pattern>/ReparoDeleteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModeloController</display-name>
    <servlet-name>ModeloController</servlet-name>
    <servlet-class>br.com.webapp.controller.ModeloController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModeloController</servlet-name>
    <url-pattern>/ModeloController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModeloDeleteController</display-name>
    <servlet-name>ModeloDeleteController</servlet-name>
    <servlet-class>br.com.webapp.controller.ModeloDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModeloDeleteController</servlet-name>
    <url-pattern>/ModeloDeleteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CqController</display-name>
    <servlet-name>CqController</servlet-name>
    <servlet-class>br.com.webapp.controller.CqController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CqController</servlet-name>
    <url-pattern>/CqController</url-pattern>
  </servlet-mapping>
</web-app>